<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connectionstring"
        connectionstring="data source=localhost;initial catalog=studentmanagementsystem;integrated security=true"
        providername="system.data.sqlclient" />
    <!--<add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=StudentManagementSystem;Persist Security Info=True;User ID=sa;Password=1"
providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>